<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Red</title>
    <style>
        .red-text {
            color: red;
        }
    </style>

</head>
<body>
    <p class="red-text">Hello there <%= name %></p>
</body>
</html>
